* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-image: url(../IMAGE/sushibackground.png);
    border: 1px black solid;
    background-repeat: no-repeat;


}

nav {
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    background-color: #21243d;
}

.navbar {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding: 20px;
}

.icon1 {
    margin: 20px;
    font-size: 20px;
}

.img {
    /* padding: 15px; */
}


a {
    color: rgb(248, 250, 250);
    font-size: 15px;
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-text {
    color: white;
}

.h11 {
    font-size: 80px;
    padding-top: 30px;
    font-size: 100px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat";
}

p {
    font-size: 30px;
    margin: 40px 20px;
}

.main-text {
    position: relative;
    margin: 100px 0 100px 80px;
}

.order {
    background-color: #21243d;
    height: 48px;
    width: 200px;
    bottom: -34px;
    left: 25px;
    font-weight: bold;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    border: none;
    margin: -50px -10px;



}

.container2 {
    border: 1px solid #f6eedf;
    background-repeat: no-repeat;
    background-color: #21243d;
    color: #ffffff;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;

}

.header {
    font-size: 64px;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}

.par {
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.imge {
    display: flex;
    margin-left: 80px;
    margin-top: -80px;
    position: relative;
    justify-content: center;
    align-content: center;

}

.img1,
.img2,
.img3 {

    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url(../IMAGE/sushiimage1.png);
    margin: 80px;
    background-position: center;
}

.h1 {
    position: absolute;
    top: 80%;
    margin-left: 23px;
}

.p {
    position: absolute;
    top: 80%;
    margin-left: -12px;
    font-size: 20px;
}

.princy,
.princy1,
.princy2,
.princy3,
.princy4,
.princy5 {
    position: absolute;
}

.princy {
    top: -24px;
    right: -49px;
}

.princy1 {
    top: 285px;
    right: -19px;
}

.princy2 {
    top: 143px;
    left: 05%;
}

.princy3 {
    left: 198px;
    top: -33px;
}

.princy4 {
    bottom: 12px;
    right: 10px;
}

.princy5 {
    bottom: 104px;
    left: -67px;
}

.container3 {
    display: flex;
    color: #21243d;
    background-color: #ffd17e;
    position: relative;
    overflow: hidden;
}

.ii1,
.ii2,
.ii3,
.ii4,
.ii5 {
    position: absolute;
}

.ii1 {
    right: 20px;
    top: 20px;
}

.ii2 {
    left: 20px;
    bottom: 20px;
}

.ii3 {
    right: -51px;
    bottom: 52px;
}

.ii4 {
    top: 26px;
    right: 575px;
}

.ii5 {
    top: 30px;
    left: 30px;
}

.now {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 40px;
    font-family: "Montserrat";
    text-align: center;
    border-radius: 32px;
    margin-left: 15px;
    background-color: #21243d;
    border: 1px solid #21243d;
}

.tex1 {
    color: #21243d;
}

.h12 {
    font-size: 100px;
    margin-top: 80px;
}

.imagg {
    border-radius: 50%;
    width: 800px;
    height: 400px;
    background: url(../IMAGE/sushibackground2.png);
    margin: 80px;
    background-position: center;
    z-index: 1;

}

/* .container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6eedf;
    position: relative;
    overflow: hidden;

}

.ccc {
    font-size: 30px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Montserrat";
}

.lll {
    position: absolute;
    top: 15px;
}

.ddd {
    border-radius: 50%;
    width: 800px;
    height: 450px;
    background: url(../IMAGE/img\ 3.png);
    margin: 80px;
    background-position: center;
}

.ppp {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    font-family: "Montserrat";
    text-align: center;
    border-radius: 32px;
    margin-left: 100px;
    background-color: #f64b3c;
    border: 1px solid rgb(240, 6, 6);
}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6 {
    position: absolute;
}

.i1 {
    bottom: 7px;
    left: 172px;
}

.i6 {
    left: 450px;
    top: 10px;
}

.i2 {
    bottom: 45px;
    right: 604px;
}

.i3 {
    right: 14px;
    top: 52px;
}

.i4 {
    bottom: -41px;
    right: 30px;
}

.i5 {
    left: -15px;
    top: 16px;
} */

.container5 {
    background-color: #21243d;
    /* padding: 100px; */
    position: relative;
overflow: hidden;

}


.ad {
    padding: 60px;
    margin: 0;
    font-size: 70px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.ul {
    color: #f6eedf;
    margin-top: -10px;
    /* margin: 0 auto; */
    text-align: center;
    font-size: 23px;
}

.cricle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.kk7 {
    color: white;
    margin: 85px;
    font-size: 65px;
}

.r {
    border: 5px solid white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 80px;

}

.cus {
    color: #f6eedf;
    font-size: 25px;
    margin-top: -62px;
    margin-left: 52px;
}

.shap01 {
    position: absolute;
    top: 40px;
    right: 10px;
}
.shap04 {
    position: absolute;
    bottom: 60px;
    right: 140px;
}

.shap05 {
    position: absolute;
    top: 60px;
    left: 70px;
}

.shap06 {
    position: absolute;
    top: 207px;
    left: 117px;
}

.shap07 {
    position: absolute;
    left: 30px;
    bottom: -51px;
}

.container6 {
    background-color: #F6EEDF;
    /* margin-top: -80px; */
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 55px;
    color: #F64B3C;
}

.main2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: 80%;
    margin: 0 auto;
}

.mainsub1,
.mainsub2,
.mainsub3 {
    background: #FFFFFF;
    color: #F64B3C;
    margin-bottom: 60px;
}

.pnmbv {
    font-size: 35px;
    padding: 20px 0px;
    margin-left: 90px;
    font-weight: bold;
}

.vmh {
    color: #F64B3C;
    width: 100%;
    margin-left: 25px;
    font-size: 20px;
    margin-top: 10px;
}

.mmv {
    position: absolute;
    color: #FFFFFF;
    padding: 10px 50px;
    font-size: 18px;
    border: none;
    bottom: 60px;
    margin: 20px;
    margin-left: 40px;
    background: #F64B3C;
    border-radius: 20px;
}

.package {
    font-size: 40px;
    margin-left: 50px;
    padding: 20px 0px;
}

.iconbar {
    margin-left: 80px;
}

.figo1,
.figo2,
.figo3,
.figo4,
.figo5,
.figo6 {
    position: absolute;
}

.figo1 {
    top: -88px;
    right: -111px;
}

.figo2 {
    right: 57px;
    top: -262px;
}

.figo3 {
    bottom: 28px;
    right: 1046px;
}

.figo4 {
    left: -120px;
    top: -107px;
}

.figo5 {
    left: 179px;
    top: -217px;
}

.figo6 {
    right: -113px;
    bottom: 4px;
}

.container7 {
    margin-top: -80px;
    background: linear-gradient(rgba(246, 75, 60, 0.6), rgba(246, 75, 60, 0.6)), url(../IMAGE/container6img.png);
    background-repeat: no-repeat;
    color: #f6eedf;
}

.pag {
    line-height: 35px;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    padding-top: 250px;
    font-weight: bold;
    font-size: 23px;
}

.con7 {
    padding-bottom: 200px;
    font-weight: bold;
    text-align: center;
}

.shap {
    position: relative;
}

.figo11,
.figo12,
.figo13,
.figo14,
.figo15,
.figo16,
.figo17 {
    position: absolute;
    top: 0;
    left: 0;
}

.figo11 {
    top: -88px;
    right: -111px;
}

.figo12 {
    right: 57px;
    top: -262px;
}

.figo13 {
    bottom: 28px;
    right: 1046px;
}

.figo14 {
    left: -120px;
    top: -107px;
}

.figo15 {
    left: 179px;
    top: -217px;
}

.figo16 {
    right: -113px;
    bottom: 4px;
}

.figo17 {
    right: -113px;
    bottom: 4px;
}

.container8 {
    margin-top: -80px;
    background-color: #F6EEDF;
    color: #F64B3C;
    text-align: center;
    /* position: relative; */
    padding: 200px;
}

.inp {
    display: flex;
    gap: 0px;
    justify-content: center;

}

.input1 {
    height: 60px;
    width: 500px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 30px;
    border: none;

}

.subscribe {
    height: 60px;
    width: 150px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background-color: #F64B3C;
    color: #F6EEDF;
    font-weight: bold;
    font-size: 20px;


}

.pera {
    line-height: 30px;
    width: 81%;
    margin-left: 12%;

}

.mainend {
    background: #222222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

.mainend1 {
    padding: 230px 0px;
    width: 50%;
}

.ppss {
    padding: 20px;
    margin-left: 130px;
    font-size: 35px;
}

.loremend {
    width: 52%;
    padding: 30px 20px;
    margin-left: 130px;
    font-size: 18px;
}

.iconmain {
    margin-left: 130px
}

.fa-instagram,
.fa-facebook-f,
.fa-twitter,
.fa-whatsapp {
    padding: 12px;
    margin-left: 20px;
    background: white;
    color: black;
    border-radius: 50%;
    font-size: 18px;
}

.ppss1 {
    font-size: 35px;
    padding: 20px;
    margin-top: 25px;
}

.loremend1 {
    width: 22%;
    line-height: 28px;
    padding: 20px;
    font-size: 18px;
}

.ppss2 {
    font-size: 35px;
    padding: 20px;
    margin-top: 25px;
}

.loremend2 {
    width: 22%;
    line-height: 28px;
    padding: 20px;
    font-size: 18px;
}

.mainend2 {
    margin-left: -100px;
}

.mainend3 {
    margin-left: -280px;
}

.ppss3 {
    font-size: 35px;
    padding: 3px;
    margin-top: 25px;
}

.loremen3 {
    width: 27%;
    line-height: 28px;
    padding: 20px;
    font-size: 18px;
}

.mainend4 {
    margin-left: -250px;
    margin-top: -92px;
}