* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aaa {
    height: 95px;
    width: 150px;
}
.button {
    background-color: red;
    border-radius: 5px ;
    width: 90px;
    color: white;
    font-size: 12px;
    height: 30px;
}

#language {
    background-color: black;
    color: white;
    margin-top: 40px;
    color: white;  
    background-color: rgba(71, 69, 69, 0.596);
    border-radius: 5px;
    width: 90px;
    text-align: center;
    height: 30px;
}
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 0%), url(../IMAGE/header.jpg) ;
    background-size:cover;
    height: 550px;
    width: 100%;
}
.container {
    width: 75%;
    margin: 0 auto;
    padding: 0px 40px;
}
.name {
    color: white;
    text-align: center;
    margin-top: 100px;
font-size: 25px;}
.mail{
    height: 50px;
    background-color: rgba(71, 69, 69, 0.596);
    color: white;   
    width:260px; 
}
.pri{
    display: flex;
    justify-content: center;
}
.get{
    height: 50px;
    background-color: red;
    color: white;
    width: 150px;
    margin-left: 5px;
}
.mmm
{
/* border: 1px solid black; */
background-color: black;
color: white;
padding: 100px;
text-align: left;
font-size: 30px;
    display: flex;
}
.video{
     bottom: 200%;
     left: 14%;
     position: relative;
}

.ppp{
    padding: 180px 0px ;
    background-color: black;
    color: white;
}
.vd{
    height: 200px;
    position: relative;
}
.nnn{
    border: 1px solid black;
    background-color: black; 
    display: flex;
}
.ooo{
    display: flex;
    background-color: black;
}
.main{
    border:  1px solid rgb(250, 248, 248);
    background-color: black;
    color: white;
}